 <div th:fragment="ranking">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Ranking</h2>           
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Place</th>
        <th>Participant</th>
        <th>Points</th>
        <th>Goal scores predicted</th>
        <th>Scores predicted</th>
      </tr>
    </thead>
    <tbody>
      <div th:each="userStatistics, iterStat : ${ranking}">
      <tr>
        <td><div th:text="${iterStat.count}"/></td>
        <td><div th:text="${userStatistics.users.firstName + ' ' + userStatistics.users.lastName}"/></td>
        <td><div th:text="${userStatistics.points}"/></td>
        <td><div th:text="${userStatistics.goalScoresPredicted}"/></td>
        <td><div th:text="${userStatistics.scoresPredicted}"/></td>
      </tr>
     </div>
    </tbody>
  </table>
</div>

</body>
</div>